@model SmartShopWebApp.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<h2>@ViewBag.Title.</h2>


@using (Html.BeginForm("Profile", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            <div class="col-md-3">
                <h4>Email</h4>
            </div>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <h4>Password</h4>
            </div>
            <div class="col-md-9">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <h4>Confirm Password</h4>
            </div>
            <div class="col-md-9">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="submit" value="Reset"><i class="fa fa-check-square-o"></i></button>
        <button class="btn btn-danger btn-sm" id="" data-dismiss="modal"><i class="fa fa-close"></i> Cancel</button>
    </div>
}