@model SmartShopWebApp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="container" id="changePassword">
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <h2>@ViewBag.Title</h2>
                </div>
                <div class="panel panel-body">
                    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-0 control-label" })
                            <div class="col-md-12" align="center">
                                <br />
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-0 control-label" })
                            <div class="col-md-12" align="center">
                                <br />
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-0 control-label" })
                            <div class="col-md-12" align="center">
                                <br />
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <br /><br />
                            <div class="col-md-12">
                                <input type="submit" value="Change password" class="btn btn-default" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}