<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="~/home/index" class="navbar-brand">SmartShop</a>
            </div>
            <ul class="navbar-collapse collapse nav navbar-nav">
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/About">About</a></li>
                <li><a href="~/Home/Contact">Contact</a></li>
            </ul>

            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer nav navbar-default">
        <div class="container" id="footerDetail">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="footer">
                        <h3>Join us now , Here at Smart Shops</h3>
                        <hr />
                        <p>&copy; @DateTime.Now.Year - SmartShop</p>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                            <li>
                                <i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:smoss@gmail.com">smoss@gmail.com</a>
                            </li>
                        </ul>
                        <br>
                        <ul class="list-inline">
                            <li>
                                <a href="#"><i class="fa fa-facebook-square fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram fa-fw fa-3x"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter-square fa-fw fa-3x"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbar-brand").hover(function () {
                $(this).children("ul").stop(true, false, true).slideToggle(300);
            })
        })
    </script>
</body>

</html>
